/* my fonts */
@font-face {
  font-family: "hensa";
  src: url("../fonts/Hensa.ttf"), url("../fonts/Hensa.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "lato";
  src: url("../fonts/Lato-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "lato-light";
  src: url("../fonts/Lato-Light.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "lato-hairline";
  src: url("../fonts/Lato-Hairline.ttf");
  font-weight: normal;
  font-style: normal;
}

/* general styling */

* {
  margin: 0;
  padding: 0;
}

/* bg img & font */

body {
  background-image: url(../img/bg20.png);
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  font-family: "hensa";
}

/* align content middle right left */

.container {
  text-align: left;
  display: block;
  width: 0vh;
  margin: 5vh auto;
}

/* text & bttn styling */

h1 {
  font-size: 12rem;
  color: #3b3737;
  font-weight: 250;
  padding-bottom: 5vh;
}

div > a {
  font-size: 2rem;
  text-decoration: none;
  font-family: "lato";
  text-transform: uppercase;
  font-weight: bold;
}

.btn {
  width: 0vh;
  margin: 0 20vh;
  padding: 20px 95px;
  color: #f4f4f4;
  background-color: #b7484e;
  border-radius: 50px;
  border: 5px #b7484e solid;
  letter-spacing: 5px;
}

.btn:hover {
  transition: all 0.2s linear;
  border: 5px #2b2b2b solid;
  color: #2b2b2b;
  background-color: transparent;
}

/* footer */
footer > p {
  text-transform: initial;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #2b2b2b;
  color: #ececec;
  font-size: 1rem;
  font-family: "lato-light";
  font-weight: normal;
  margin: 0;
  padding: 1rem;
  text-align: center;
}

.fa-github {
  padding-left: 5px;
  font-size: 1.5rem;
  color: #ececec;
  text-decoration: none;
}

.fa-github:hover {
  transition: all 0.2s linear;
  color: #b7484e;
}

/* media queries */
@media (max-width: 1470px) {
  body {
    background-image: url(../img/bg50.png);
  }
  .container {
    text-align: initial;
    width: initial;
    margin: initial;
    text-align: center;
    width: auto;
    margin-top: 5vh;
  }
  .btn {
    text-align: initial;
    width: initial;
    margin: initial;
    text-align: center;
    width: auto;
  }

  @media (max-width: 780px) {
    h1 {
      font-size: 10rem;
      text-align: center;
      margin-top: 8vh;
    }
    div > a {
      font-size: 1rem;
    }
    .btn {
      padding: 18px 70px;
    }
  }

  @media (max-width: 612px) {
    h1 {
      font-size: 8rem;
      margin-top: 10vh;
      margin-bottom: 2vh;
    }
  }

  @media (max-width: 450px) {
    h1 {
      font-size: 6rem;
    }
    .btn {
      padding: 16px 60px;
    }
  }

  @media (max-width: 400px) {
    h1 {
      font-size: 5rem;
    }
    .btn {
      padding: 15px 50px;
    }
  }
}
